body{
    display: grid;
    grid-template-rows: 105vh auto;
}

.QuienSoy{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textoinicio-contenedor{
    display: grid;
    align-items: center;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid grid-template-rows: auto;
    grid-column-gap: 3rem;
    
    
}

.cont-programacion{
    display: grid;
    align-items: center;
}

.logos-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 15vh);
    align-items: center;
    padding: 2rem;
    
    
}

.proyectos-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 30vh;
}
