@media (max-width: 50em) {
 
    .cabecera{
    background-color: black;
    }
    
    .QuienSoy{
        grid-template-columns: 1fr;
    }
    
    .skills{
        grid-template-columns: 1fr;
    }
    
    .proyectos-contenedor{
        grid-template-columns: 1fr;
    }
    
}