.items-menu li a {
    font-size: 20px;
    color: white;
    font-family: "ubuntu"
}

.quehago li a {
    color: #900C3F;
}

.cabecera {
    background-color: #EF5F23;
}

.scrolldown {
    margin-bottom: 5vh;
    color: white;
}

.nav-title {
    text-align: center;
}

.nombre {
    font-family: 'Monoton', cursive;
    color: #900C3F;
    font-size: 5em;
}

.nav-title h4 {
    color: white;
    font-size: 2rem
}

.titulo-nombre {
    font-size: 3em;
    color: #900C3F;
    font-family: 'Bitter', serif;
    text-align: center;
}

.texto {
    text-align: justify;
    padding: 1em;
    margin-left: 1em;
}

.presentacion {
    font-family: 'Bitter', serif;
}

.post {
    font-family: "ubuntu";
    color: white;
    background-color: #1B5F5E;
    font-size: 3em;
    width: 30vw;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.post a {
    text-decoration: none;
    color: white;
}

.contenedor-cita{
    text-align: right;
}
.citas {
    color: #900C3F;
    font-family:'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 1.5em;
}

.azul{
    color:#1B5F5E;
}

.azul-titulo{
    color:#1B5F5E;
    font-family: 'Bitter', serif;
    text-align: center;
}
.skills{
    margin-right:1em;
}
.cont-programacion{
    
}

.logos-contenedor img{
    width: 70%;
    min-width: 50%;
}
.html{
    grid-column: 2 / 3;
}
.materialize{
    grid-column: 3/4;
}
.uikit{
 grid-row: 3/4;
    
}

.jquery{
    grid-row: 3/4;
    grid-column: 3/4
}

.negro{
    background-color: #1B1C1C;
}